body {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.collapseedges {
  display: flex;
  justify-content: center;
}
.byside,
.byregion,
.bycategory,
.discardpile {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}



/* center the us / ussr arrow vertically */
i.fa-arrow-left, i.fa-arrow-right {
  margin-top: 20px;
}

i.fa-arrow-right {
  color: red;
}

.cardCol, .hand {
/*  display: inline-block; */
  padding: 5px;
}

.bothhands {
  display: flex;
  justify-content: center;
}

div.buttons > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.buttons > div > * {
  margin: 2px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

button.hidden {
  display: none;
}

i.discard,
i.remove,
i.score {
  color: #999;
  margin: 1px;
}


div.handselected > fieldset {
  color: red;
  border: 1px solid red;
}

.hand .toophand {
  display: none;
}

#removed i.remove, #discarded i.discard {
  display: none;
}

i.hidden {
  visibility: hidden;
}

.star {
  color: gray;
}
footer {
  text-align: right;
}

