.card {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
.byside,
.bywar {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
}

.cardCol, .hand {
  display: inline-block;
  padding: 5px;
}

.bothhands, .buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
}

.buttons > * {
  margin: 2px;
}

.buttons {
  width: 50%;
}

card.hidden, button.hidden {
  display: none;
}

.discard,
.remove {
  color: #999;
  margin-right: 2px;
}

.remove.hidden {
  visibility: hidden;
}
